<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap" rel="stylesheet">
    <title>Thank you for being the part of the community.</title>
</head>

<body style="margin: 0;padding: 20px;box-sizing: border-box;font-family: 'DM Sans', sans-serif;background-color: #fff;">
    <section style="width: 100%;max-width: 650px;padding: 0;border:1px solid #F99A2D;box-sizing: border-box;margin: auto;padding: 0px;background-color: #fff;border-radius: 8px;overflow:hidden;display: flex;min-height: auto;align-items: center;justify-content: center;">
        <table style="width: 100%;border: none;border-spacing: 0;">
            <tr>
                <td style="text-align: left;padding: 0px;">
                    <div style="padding:15px 25px;border-bottom:0px solid #F99A2D;background-color: #fff;">
                        <img src="http://demo.azikya.com/wp-content/uploads/2023/06/logo-trasparent-1.png" width="120px" alt="company logo">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="font-size:55px;margin:10px 0 0;text-align: center;color: #000;">Thank
                        you</h2>
                    <h3 style="font-size:22px;margin:0px 0 0;font-weight:500;text-align: center;color: #000;">for
                        trusting with <span style="color: #F99A2D;font-weight: 700;">Azikya
                            Software Solution.</span></h3>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;padding-top: 30px;">
                    <img src="http://demo.azikya.com/wp-content/uploads/2024/01/envelope.png" style="width: 100%;max-width: 400px;margin: auto;" alt="envelope">
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    <p style="margin: 0 auto 15px;width: 100%;max-width: 100%;text-align: center;font-weight: 400;font-size: 15px;">
                        <%= dynamicText %>
                    </p>
                    <h6 style="margin: 0 auto 5px;width: 100%;max-width: 100%;text-align: center;font-weight: 400;font-size: 16px;">
                        <b style="color: #f99a2d;">Email:</b> <%= email %>
                    </h6>
                    <p style="margin: 20px 0 0;text-align: center;font-weight: 400;font-size: 16px;">
                        <a href="http://3000/api/register" style="color: #F99A2D;text-decoration: underline;">Click here to login</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 0;">
                    <div style="background-color: #F99A2D;padding: 15px 15px 11px 15px;">
                        <ul style="list-style-type: none;padding: 0;margin: 0;text-align: center;">
                            <li style="display: inline-block;">
                                <a href="#" style="display: block;height: 30px;">
                                    <img src="http://demo.azikya.com/wp-content/uploads/2024/01/facebook.png" width="30px" height="30px" alt="facebook">
                                </a>
                            </li>
                            <li style="display: inline-block;margin: 0 10px;">
                                <a href="#" style="display: block;height: 30px;">
                                    <img src="http://demo.azikya.com/wp-content/uploads/2024/01/instagram.png" width="30px" height="30px" alt="intagram">
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="#" style="display: block;height: 30px;">
                                    <img src="http://demo.azikya.com/wp-content/uploads/2024/01/linkedin.png" width="30px" height="30px" alt="linkdine">
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</body>

</html>
